<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/cart.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (products.length > 0) { %>
      <ul class="cart__item-list">
        <% products.forEach(p => { %>
        <li class="cart__item">
          <h1><%= p.productId.title %></h1>
          <p>Quantity: <%= p.quantity %></p>
          <form action="/cart-delete-item" method="POST">
            <button class="btn danger" type="submit">Delete</button>
            <input
              type="hidden"
              value="<%= p.productId._id %>"
              name="productId"
            />
          </form>
        </li>
        <% }); %>
      </ul>
      <div class="centered">
        <form action="/create-order" method="POST">
          <button class="btn" type="submit">Order Now!</button>
        </form>
      </div>
      <% } else { %>
      <h1>No products in Cart!</h1>
      <% } %>
    </main>

    <script src="/js/main.js"></script>
  </body>
</html>
